body {
    box-sizing: border-box;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    max-height: 90vh;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.lp250 {
    padding-left: 250px;
}

.rp250 {
    padding-right: 250px;
}

.db {
    background-color: #1f2937; ;
}

.f24 {
    font-size: 24px;
}

.f18 {
    font-size: 18px;
}

.f36 {
    font-size: 36px;
}

.cWhiteStrong {
    color: #f9faf8;
}

.cWhiteLight {
    color: #e5e7eb;
}

.header {
    height: 70px;
    color: #f9faf8;  
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
}

.menuItem {
    font-size: 18px;
    color: #e5e7eb;
}

.menu {
    display: flex;   
    gap: 16px; 
}

.logo {
    font-size: 24px;
}

/* Hero */

.hero {
    display: flex;
    gap: 50px;
    padding-top: 130px;
    padding-bottom: 130px;
    
}

.heroLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.heroTitle {
    font-weight: bold;
}

img {
    display: block;
    height: 200px;
    width: 50%;
    object-fit: cover;
    
}



.heroBtn {
    width: 130px;
    padding: 8px 30px;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
}


/* Info */

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px 300px 50px 300px;
    
}

.card {
    width: 152px;
    flex-shrink: 0;
}

.infoTitle {
    font-weight: bolder;
}

.cards {
    display: flex;
    justify-content: center;
    gap:70px;

}

.square {
    flex-shrink: 0;
    height: 150px;
    border: #3882f6 solid 1px;
    border-radius: 8px;
}

.cardText {
    font-size: 12px;
    text-align: center;
    padding: 5px 8px;
    color:#1f2937;
}

/* Testimonial */

.testimonial {
    background-color: #e5e7eb;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 330px 100px 330px;


}

.testimonialText {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;

}

.quote {
    font-size: 12px;
    font-weight: bolder;
   align-self: flex-end;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 240px;
    
}

.cta {
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
    align-items: center;
    flex:1 ;
    
}

.cta-btn button {
    background-color: #3882f6;
    border: #e5e7eb solid 1px;
    border-radius: 5px;
    padding: 8px 30px;
    color: #e5e7eb;
}

.cta-left {
    color: #e5e7eb;
}

.cta-title {
    font-size: 18px;
}

.cta-text {
    font-size: 12px;
    font-weight: lighter;
}

.footer-container {
    height: 70px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-text {
    font-size: 12px;
    font-weight: lighter;
    color:#e5e7eb
}